/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Mar-2015, 11:33:59 PM
    Author     : Tommy
*/

body {
    font-family: "Lucida Sans Unicode", Verdana;
    color: #696969;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

@font-face {
    font-family: "Samba";
    src: url("../fonts/Samba.ttf");
}

fieldset {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

textarea {
    font-family: Verdana;
    font-size: 14px;
}

div.content {
    min-height: 100%;
}

div.header {
    font-family: Verdana;
    color: #00CC99;
    padding: 20px;
    border-bottom: 1px solid #00CC99; 
}

div.header > span.title {
    font-size: 36px;
    font-family: "Samba";
}

div.header > span.title > a:hover {
    text-decoration: none;
}

div.footer {
    font-family: "Samba";
    border-top: 1px solid #00CC99;
    background: #00CC99;
    color: #FFF;
    font-size: 20px;
    bottom: 0;
    height: 50px;
    padding: 15px 10px 10px 10px;
}

div.logo {
    background: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 31px;
    position: relative;
    top: 4px;
    display: inline-block;
    margin-right: 15px;
}

a, a:visited {
    color: #00CC99;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.passage {
    background: #00CC99;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 1px #696969;
    color: #FFF;
    padding: 25px;
}

div.passage > h1 {
    font-family: "Samba";
    font-size: 40px;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

div.features {
    width: 450px;
    display: block;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin-top: 40px;
    padding: 0 20px 20px 20px;
}

.button {
    vertical-align: top;
    padding: 0;
    color: #FFF;
    font-family: "Lucida Sans Unicode", Verdana;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #00CC99;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background: #07B388;
}

.button.large {
    width: 200px;
    height: 60px;
    font-size: 22px;
}

.button.small {
    width: 125px;
    height: 35px;
    font-size: 18px;
}

.button.medium {
    width: 160px;
    height: 40px;
    font-size: 20px;
}
.button.wide {
    width: 240px;
    height: 40px;
    font-size: 20px;
}
.inverted-button {
    color: #00CC99;
    background: #FFF;
    vertical-align: top;
    font-family: "Lucida Sans Unicode", Verdana;
    text-align: center;
    cursor: pointer;
    border: 1px solid #00CC99;
    border-radius: 4px;
    padding: 2px;
}

.inverted-button:hover {
    background: #00CC99;
    color: #FFF;
}

.inverted-button.header {
    width: 100px;
    font-size: 16px;
}

input, select {
    height: 30px;
    border: 1px solid #ccc;
    font-family: Verdana;
    border-radius: 4px;
    padding-left: 10px;
}

input:hover, select:hover, textarea:hover {
    border: 1px solid #00CC99;
}

.radio-align {
    position: relative;
    top: 10px; 
}

ul.checkmark {
    list-style-type: none;
    padding: 0;
}

ul.checkmark li:before {
    content:"\2713\0020";
    color: #00CC99;
}

.dot:before {
    content: "·";
}

.dot {
    color: #00CC99;
    font-size: 20px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.steth {
    background: url("../img/steth.png");
    background-repeat: no-repeat;
    width: 297px;
    height: 291px;
}

.default-padding {
    padding: 0 20px 20px 20px;
}

table.main-table {
    width: 700px;
    border-collapse: separate; 
    border-spacing: 0 15px;
}
table.main-table tr, table.main-table td {
    border: thin solid #00CC99;
}

table.main-table td {
    padding: 10px 20px 10px 20px;
}

table.main-table tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 0;
}

table.main-table tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0;
}

table.main-table button {
    width: 180px !important;
    height: 45px !important;
}

table.main-table span.title {
    font-size: 18px;
    font-weight: bold;
}

span.text {
    font-size: 14px;
}

table.side-green-table {
    border-collapse: collapse;
}

table.side-green-table, table.side-green-table th, 
table.side-green-table tr, table.side-green-table td {
    border: 1px solid #07B388;
}

table.side-green-table > tbody > tr > td:first-child {
    background: #00CC99;
    color: #FFF;
}

table.side-green-table > tbody > tr td {
    padding: 20px;
}

table.review-table {
    border-collapse: separate; 
    border-spacing: 15px 15px;
}

table.friend-requests-table {
    table-layout: fixed;
    width: 550px; 
}

.pentagon {
    background: url("../img/congruent_pentagon.png") !important;
}

div.icon {
    height: 32px;
    width: 32px;
    position: relative;
    margin: 15px;
    overflow: hidden;
    display: inline-block;
}

div.icon div.user {
    width: 12px;
    height: 13px;
    background: #696969;
    border-radius: 5px 5px 0 0;
    margin-left: 10px;
    margin-top: 2px;
}

div.icon div.user:after {
    content: '';
    width: 0;
    height: 5px;
    background: #696969;
    position: absolute;
    margin-top: 13px;
    margin-left: 2px;
}

div.icon div.user:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 17px;
    left: 0px;
    border-style: solid;
    border-color: transparent transparent #696969 transparent;
    border-width: 0 16px 6px 16px;
}

div.icon div.shoulder {
    width: 32px;
    height: 5px;
    background: #696969;
    position: absolute;
    bottom: 4px;
}

div.icon div.search {
    height: 13px;
    width: 13px;
    background: transparent;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 4px solid #696969;
}

div.icon div.search:after {
    content: '';
    width: 4px;
    height: 15px;
    background: #696969;
    position: absolute;
    bottom: 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}

div.icon div.chat {
    width: 32px;
    height: 22px;
    background: #696969;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

div.icon div.chat:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: #696969 transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    top: 16px;
    left: 2px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

div.icon div.lines {
    background-color: #eee;
    height: 2px;
    width: 17px;
    left: 5px;
    position: absolute;
    top: 5px;
}

div.icon div.lines:after {
    content: '';
    background-color: #eee;
    height: 2px;
    width: 10px;
    position: absolute;
    top: 5px;
}

div.icon div.lines:before {
    content: '';
    background-color: #eee;
    height: 2px;
    width: 22px;
    position: absolute;
    top: 10px;
}

table.write-review-table {
    table-layout: fixed;
    width: 800px;    
}

table.write-review-table td:first-child {
    width: 30%;
}

table.write-review-table td:last-child {
    width: 70%;
}

textarea.review {
    resize: none;
}

.star-icon {
    color: #ddd;
    font-size: 2em;
    position: relative;
    top: 3px;
}

.star-icon.full:before {
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
}

.star-icon.half:before {
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}

@-moz-document url-prefix() { /* Firefox Hack :( */
    .star-icon {
        font-size: 28px;
        line-height: 34px;
        top: 1px;
    }
    
    .star-icon.full:before {
        top: 1px;
    }

    .star-icon.half:before {
        top: 1px;
    }
}
